Package: de.fausis.yunopauseaudio
Name: YUNoPauseAudio
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: julakali
Author: julakali
Section: Tweaks
